.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("https://i.imgur.com/xtchSFw.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.SearchBar {
  height: 110px;
}
